@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('./assets/fonts/AnyConv.com__Merriweather-Bold.woff2') format('woff2'),
  url('./assets/fonts/AnyConv.com__Merriweather-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('./assets/fonts/AnyConv.com__Merriweather-Regular.woff2') format('woff2'),
    url('./assets/fonts/AnyConv.com__Merriweather-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('./assets/fonts/AnyConv.com__Merriweather-Light.woff2') format('woff2'),
    url('./assets/fonts/AnyConv.com__Merriweather-Light.woff') format('woff');
  }